# 第六课 数据分析工具Pandas高阶
## 第一节 层级索引

In [22]:
import pandas as pd

In [23]:
# 文件路径
filepath = './datasets/2016_happiness.csv'

* 读取文件

In [24]:
data = pd.read_csv(filepath, usecols=['Country', 'Region', 'Happiness Rank', 'Happiness Score'])

In [25]:
# 数据预览
data.head()

       Country          Region  Happiness Rank  Happiness Score
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

* 设置多个索引列

In [26]:
data.set_index(['Region', 'Country'], inplace=True)

In [27]:
data

                                                      Happiness Rank  \
Region                          Country
Western Europe                  Denmark                            1
                                Switzerland                        2
                                Iceland                            3
                                Norway                             4
                                Finland                            5
North America                   Canada                             6
Western Europe                  Netherlands                        7
Australia and New Zealand       New Zealand                        8
                                Australia                          9
Western Europe                  Sweden                            10
Middle East and Northern Africa Israel                            11
Western Europe                  Austria                           12
North America                   United States                     13
Latin America and Caribbean     Costa Rica                        14
                                Puerto Rico                       15
Western Europe                  Germany                           16
Latin America and Caribbean     Brazil                            17
Western Europe                  Belgium                           18
                                Ireland                           19
                                Luxembourg                        20
Latin America and Caribbean     Mexico                            21
Southeastern Asia               Singapore                         22
Western Europe                  United Kingdom                    23
Latin America and Caribbean     Chile                             24
                                Panama                            25
                                Argentina                         26
Central and Eastern Europe      Czech Republic                    27
Middle East and Northern Africa United Arab Emirates              28
Latin America and Caribbean     Uruguay                           29
Western Europe                  Malta                             30
...                                                              ...
Sub-Saharan Africa              Senegal                          128
Central and Eastern Europe      Bulgaria                         129
Sub-Saharan Africa              Mauritania                       130
                                Zimbabwe                         131
                                Malawi                           132
                                Sudan                            133
                                Gabon                            134
                                Mali                             135
Latin America and Caribbean     Haiti                            136
Sub-Saharan Africa              Botswana                         137
                                Comoros                          138
                                Ivory Coast                      139
Southeastern Asia               Cambodia                         140
Sub-Saharan Africa              Angola                           141
                                Niger                            142
                                South Sudan                      143
                                Chad                             144
                                Burkina Faso                     145
                                Uganda                           145
Middle East and Northern Africa Yemen                            147
Sub-Saharan Africa              Madagascar                       148
                                Tanzania                         149
                                Liberia                          150
                                Guinea                           151
                                Rwanda                           152
                                Benin                            153
Southern Asia                   Afghanistan                      154
Sub-Saharan Africa              Togo                             155
Middle East and Northern Africa Syria                            156
Sub-Saharan Africa              Burundi                          157

                                                      Happiness Score
Region                          Country
Western Europe                  Denmark                         7.526
                                Switzerland                     7.509
                                Iceland                         7.501
                                Norway                          7.498
                                Finland                         7.413
North America                   Canada                          7.404
Western Europe                  Netherlands                     7.339
Australia and New Zealand       New Zealand                     7.334
                                Australia                       7.313
Western Europe                  Sweden                          7.291
Middle East and Northern Africa Israel                          7.267
Western Europe                  Austria                         7.119
North America                   United States                   7.104
Latin America and Caribbean     Costa Rica                      7.087
                                Puerto Rico                     7.039
Western Europe                  Germany                         6.994
Latin America and Caribbean     Brazil                          6.952
Western Europe                  Belgium                         6.929
                                Ireland                         6.907
                                Luxembourg                      6.871
Latin America and Caribbean     Mexico                          6.778
Southeastern Asia               Singapore                       6.739
Western Europe                  United Kingdom                  6.725
Latin America and Caribbean     Chile                           6.705
                                Panama                          6.701
                                Argentina                       6.650
Central and Eastern Europe      Czech Republic                  6.596
Middle East and Northern Africa United Arab Emirates            6.573
Latin America and Caribbean     Uruguay                         6.545
Western Europe                  Malta                           6.488
...                                                               ...
Sub-Saharan Africa              Senegal                         4.219
Central and Eastern Europe      Bulgaria                        4.217
Sub-Saharan Africa              Mauritania                      4.201
                                Zimbabwe                        4.193
                                Malawi                          4.156
                                Sudan                           4.139
                                Gabon                           4.121
                                Mali                            4.073
Latin America and Caribbean     Haiti                           4.028
Sub-Saharan Africa              Botswana                        3.974
                                Comoros                         3.956
                                Ivory Coast                     3.916
Southeastern Asia               Cambodia                        3.907
Sub-Saharan Africa              Angola                          3.866
                                Niger                           3.856
                                South Sudan                     3.832
                                Chad                            3.763
                                Burkina Faso                    3.739
                                Uganda                          3.739
Middle East and Northern Africa Yemen                           3.724
Sub-Saharan Africa              Madagascar                      3.695
                                Tanzania                        3.666
                                Liberia                         3.622
                                Guinea                          3.607
                                Rwanda                          3.515
                                Benin                           3.484
Southern Asia                   Afghanistan                     3.360
Sub-Saharan Africa              Togo                            3.303
Middle East and Northern Africa Syria                           3.069
Sub-Saharan Africa              Burundi                         2.905

[157 rows x 2 columns]

* 选取子集

In [28]:
# 外层选取
data.loc['Western Europe']

                Happiness Rank  Happiness Score
Country
Denmark                      1            7.526
Switzerland                  2            7.509
Iceland                      3            7.501
Norway                       4            7.498
Finland                      5            7.413
Netherlands                  7            7.339
Sweden                      10            7.291
Austria                     12            7.119
Germany                     16            6.994
Belgium                     18            6.929
Ireland                     19            6.907
Luxembourg                  20            6.871
United Kingdom              23            6.725
Malta                       30            6.488
France                      32            6.478
Spain                       37            6.361
Italy                       50            5.977
North Cyprus                62            5.771
Cyprus                      69            5.546
Portugal                    94            5.123
Greece                      99            5.033

In [29]:
# 内层选取
data.loc['Australia and New Zealand', 'New Zealand']

Happiness Rank     8.000
Happiness Score    7.334
Name: (Australia and New Zealand, New Zealand), dtype: float64

* 交换层级顺序

In [30]:
data.swaplevel()

,,Happiness Rank,Happiness Score
Country,Region,,
Denmark,Western Europe,1,7.526
Switzerland,Western Europe,2,7.509
Iceland,Western Europe,3,7.501
Norway,Western Europe,4,7.498
Finland,Western Europe,5,7.413
Canada,North America,6,7.404
Netherlands,Western Europe,7,7.339
New Zealand,Australia and New Zealand,8,7.334
Australia,Australia and New Zealand,9,7.313
Sweden,Western Europe,10,7.291
Israel,Middle East and Northern Africa,11,7.267
Austria,Western Europe,12,7.119
United States,North America,13,7.104
Costa Rica,Latin America and Caribbean,14,7.087
Puerto Rico,Latin America and Caribbean,15,7.039
Germany,Western Europe,16,6.994
Brazil,Latin America and Caribbean,17,6.952
Belgium,Western Europe,18,6.929
Ireland,Western Europe,19,6.907
Luxembourg,Western Europe,20,6.871
Mexico,Latin America and Caribbean,21,6.778
Singapore,Southeastern Asia,22,6.739
United Kingdom,Western Europe,23,6.725
Chile,Latin America and Caribbean,24,6.705
Panama,Latin America and Caribbean,25,6.701
Argentina,Latin America and Caribbean,26,6.650
Czech Republic,Central and Eastern Europe,27,6.596
United Arab Emirates,Middle East and Northern Africa,28,6.573
Uruguay,Latin America and Caribbean,29,6.545
Malta,Western Europe,30,6.488
...,...,...,...
Senegal,Sub-Saharan Africa,128,4.219
Bulgaria,Central and Eastern Europe,129,4.217
Mauritania,Sub-Saharan Africa,130,4.201
Zimbabwe,Sub-Saharan Africa,131,4.193
Malawi,Sub-Saharan Africa,132,4.156
Sudan,Sub-Saharan Africa,133,4.139
Gabon,Sub-Saharan Africa,134,4.121
Mali,Sub-Saharan Africa,135,4.073
Haiti,Latin America and Caribbean,136,4.028
Botswana,Sub-Saharan Africa,137,3.974
Comoros,Sub-Saharan Africa,138,3.956
Ivory Coast,Sub-Saharan Africa,139,3.916
Cambodia,Southeastern Asia,140,3.907
Angola,Sub-Saharan Africa,141,3.866
Niger,Sub-Saharan Africa,142,3.856
South Sudan,Sub-Saharan Africa,143,3.832
Chad,Sub-Saharan Africa,144,3.763
Burkina Faso,Sub-Saharan Africa,145,3.739
Uganda,Sub-Saharan Africa,145,3.739
Yemen,Middle East and Northern Africa,147,3.724
Madagascar,Sub-Saharan Africa,148,3.695
Tanzania,Sub-Saharan Africa,149,3.666
Liberia,Sub-Saharan Africa,150,3.622
Guinea,Sub-Saharan Africa,151,3.607
Rwanda,Sub-Saharan Africa,152,3.515
Benin,Sub-Saharan Africa,153,3.484
Afghanistan,Southern Asia,154,3.360
Togo,Sub-Saharan Africa,155,3.303
Syria,Middle East and Northern Africa,156,3.069
Burundi,Sub-Saharan Africa,157,2.905

* 层级索引排序

In [31]:
data.sort_index()

                                                   Happiness Rank  \
Region                     Country
Australia and New Zealand  Australia                            9
                           New Zealand                          8
Central and Eastern Europe Albania                            109
                           Armenia                            121
                           Azerbaijan                          81
                           Belarus                             61
                           Bosnia and Herzegovina              87
                           Bulgaria                           129
                           Croatia                             74
                           Czech Republic                      27
                           Estonia                             72
                           Georgia                            126
                           Hungary                             91
                           Kazakhstan                          54
                           Kosovo                              77
                           Kyrgyzstan                          85
                           Latvia                              68
                           Lithuania                           60
                           Macedonia                           95
                           Moldova                             55
                           Montenegro                          88
                           Poland                              57
                           Romania                             71
                           Russia                              56
                           Serbia                              86
                           Slovakia                            45
                           Slovenia                            63
                           Tajikistan                         100
                           Turkmenistan                        65
                           Ukraine                            123
...                                                           ...
Sub-Saharan Africa         Somaliland Region                   97
                           South Africa                       116
                           South Sudan                        143
                           Sudan                              133
                           Tanzania                           149
                           Togo                               155
                           Uganda                             145
                           Zambia                             106
                           Zimbabwe                           131
Western Europe             Austria                             12
                           Belgium                             18
                           Cyprus                              69
                           Denmark                              1
                           Finland                              5
                           France                              32
                           Germany                             16
                           Greece                              99
                           Iceland                              3
                           Ireland                             19
                           Italy                               50
                           Luxembourg                          20
                           Malta                               30
                           Netherlands                          7
                           North Cyprus                        62
                           Norway                               4
                           Portugal                            94
                           Spain                               37
                           Sweden                              10
                           Switzerland                          2
                           United Kingdom                      23

                                                   Happiness Score
Region                     Country
Australia and New Zealand  Australia                         7.313
                           New Zealand                       7.334
Central and Eastern Europe Albania                           4.655
                           Armenia                           4.360
                           Azerbaijan                        5.291
                           Belarus                           5.802
                           Bosnia and Herzegovina            5.163
                           Bulgaria                          4.217
                           Croatia                           5.488
                           Czech Republic                    6.596
                           Estonia                           5.517
                           Georgia                           4.252
                           Hungary                           5.145
                           Kazakhstan                        5.919
                           Kosovo                            5.401
                           Kyrgyzstan                        5.185
                           Latvia                            5.560
                           Lithuania                         5.813
                           Macedonia                         5.121
                           Moldova                           5.897
                           Montenegro                        5.161
                           Poland                            5.835
                           Romania                           5.528
                           Russia                            5.856
                           Serbia                            5.177
                           Slovakia                          6.078
                           Slovenia                          5.768
                           Tajikistan                        4.996
                           Turkmenistan                      5.658
                           Ukraine                           4.324
...                                                            ...
Sub-Saharan Africa         Somaliland Region                 5.057
                           South Africa                      4.459
                           South Sudan                       3.832
                           Sudan                             4.139
                           Tanzania                          3.666
                           Togo                              3.303
                           Uganda                            3.739
                           Zambia                            4.795
                           Zimbabwe                          4.193
Western Europe             Austria                           7.119
                           Belgium                           6.929
                           Cyprus                            5.546
                           Denmark                           7.526
                           Finland                           7.413
                           France                            6.478
                           Germany                           6.994
                           Greece                            5.033
                           Iceland                           7.501
                           Ireland                           6.907
                           Italy                             5.977
                           Luxembourg                        6.871
                           Malta                             6.488
                           Netherlands                       7.339
                           North Cyprus                      5.771
                           Norway                            7.498
                           Portugal                          5.123
                           Spain                             6.361
                           Sweden                            7.291
                           Switzerland                       7.509
                           United Kingdom                    6.725

[157 rows x 2 columns]